p {
	margin  : 0;
	padding : 0;
}

.container {
	padding-bottom : 2rem;
}

a {
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	text-decoration             : none;
}

div {
	-webkit-overflow-scrolling : touch;
}

.dialogForm{
	display: block;
}
.dialogForm .t1{
	font-size : .36rem;
	font-weight : 600;
}
.dialogForm .t2{
	font-size : .24rem;
	color: #666;
	margin-top : .2rem;
}
.dialogForm .t3{
	font-size : .24rem;
	color: #666;
}

.dialogForm input{
	width : 100%;
	height : .6rem;
	margin-top : .5rem;
	font-size : .24rem;
	color: #999;
	outline: none;
	border:1px solid #ccc;
	border-radius: .1rem;
	text-indent: .2rem;
}
.tuijianDialogForm input{
	margin-top : .2rem;
}
.tuijianDialogForm .item{
	margin-top : .2rem;
}
.tuijianDialogForm .item .title{
	text-align: left;
}
.tuijianDialogForm .radios{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size : .24rem;
	margin-top : .2rem;
}
.tuijianDialogForm .radios label, .tuijianDialogForm .radios >div{
	display: flex;
	align-items: center;
}
.tuijianDialogForm .radios label{
	margin-right : .2rem;
}
.tuijianDialogForm  input[type=radio]{
	width : auto;
	margin : 0 .2rem 0 0;
}
.tuijianDialogForm .remark{
	font-size : .22rem;
	color: #666;
}

.menu {
	width            : 100%;
	position         : fixed;
	left             : 0;
	top              : 0;
	display          : none;
	padding          : .24rem 0 .14rem 0;
	background-color : #fff;
	overflow-x       : auto;
	white-space      : nowrap;
	font-size        : 0;
	z-index          : 4;
	box-shadow       : 4px 0 4px #bbb;
}

.menu a:first-child {
	/*padding-left : .3rem;*/
}

.menu a {
	/*padding-bottom  : .1rem;*/
	padding         : 0 .3rem .1rem .3rem;
	text-decoration : none;
	font-size       : .32rem;
	color           : #333;
}

.menu a.actived {
	color         : #25c3cf;
	border-bottom : 2px solid #25c3cf;
}

.swiper-container {
	position : relative;
}

.swiper-container .vr {
	position         : absolute;
	right            : .28rem;
	top              : 50%;
	transform        : translateY(-50%);
	z-index          : 2;
	font-size        : .22rem;
	color            : #fff;
	padding          : .12rem .3rem;
	background-color : rgba(0, 0, 0, .5);
	border-radius    : .12rem;
	font-weight      : 600;
	text-decoration  : none;
}

.base-info {
	position : relative;
	padding  : .32rem 0.1rem 0 0.1rem;
	margin : -1rem .2rem 0 .2rem;
	border-radius: .2rem .2rem 0 0;
	background-color: #fff;
	z-index: 2;
}

.base-info > .title {
	font-size   : .36rem;
	color       : #333;
	font-weight : 600;
}

.base-info > .title span:last-child {
	color       : #fe615a;
	margin-left : .5rem;
}

.base-info .tags {
	margin-top : .14rem;
	font-size  : .22rem;
	color      : #666666;
	overflow   : hidden;
}

.base-info .tags span {
	float            : left;
	padding          : .12rem .2rem;
	border-radius    : .1rem;
	margin           : .12rem .1rem 0 0;
	background-color : #f1f2f5;
}

.base-info .tags span:last-child {
	margin-right : 0;
}

.base-info .phone {
	width            : 5.2rem;
	margin           : .3rem auto 0 auto;
	display          : flex;
	align-items      : center;
	font-size        : .3rem;
	color            : #333;
	padding          : .14rem .12rem .16rem .38rem;
	background-color : #e6fcfe;
	border-radius    : .5rem;
	box-sizing       : border-box;
	text-decoration  : none;
}

.base-info .phone > .info {
	flex        : 1;
	line-height : .4rem;
}

.base-info .phone > .info p:last-child {
	font-size : .22rem;
	color     : #666666;
}

.base-info .phone img {
	width : .82rem;
}

.base-info .detail {
	position         : relative;
	font-size        : .24rem;
	color            : #999999;
	line-height      : .48rem;
	padding          : .3rem .2rem;
	margin-top       : .3rem;
	border-radius    : .1rem;
	border           : 1px solid #f3f3f4;
	background-color : #f8f8f9;
}

.base-info .detail .more {
	position    : absolute;
	right       : .16rem;
	top         : .3rem;
	display     : flex;
	align-items : center;
	color       : #999;
}

.base-info .detail .more img {
	width       : .13rem;
	margin-left : .1rem;
}

.base-info .detail .location {
	position    : absolute;
	right       : .24rem;
	bottom      : .33rem;
	display     : flex;
	align-items : center;
	color       : #25c3cf;
}

.base-info .detail .location img {
	width        : .31rem;
	margin-right : .14rem;
}

.base-info .look-room {
	display         : flex;
	align-items: center;
	justify-content: space-around;
	padding: .2rem;
	margin-top : .2rem;
	background-color: #f8f8f9;
}
.base-info .look-room >img{
	width : .64rem;
	
}
.base-info .look-room .info{
	flex: 1;
	display: flex;
	flex-direction: column;
	line-height: .4rem;
	margin-left : .3rem;
}
.base-info .look-room .info span{
	font-size : .3rem;
}
.base-info .look-room .info span:last-child{
	font-size : .24rem;
	color: #666;
}

.base-info .look-room .btn {
	font-size        : .24rem;
	color            : #25c3cf;
	padding          : .12rem .2rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.youhui {
	margin-top : .56rem;
}

.youhui > .title {
	font-size : .3rem;
	color     : #333333;
}

.youhui .quan {
	position         : relative;
	margin-top       : .3rem;
	display          : flex;
	align-items      : center;
	padding          : .28rem;
	border           : 1px solid #0ac3cf;
	border-radius    : .1rem;
	background-image : linear-gradient(104deg, rgb(239, 252, 254) 0%, rgb(224, 252, 254) 99%);
}

.youhui .quan::before, .youhui .quan::after {
	position          : absolute;
	top               : 50%;
	content           : '';
	width             : .34rem;
	height            : .34rem;
	border            : 1px solid #0ac3cf;
	border-radius     : 50%;
	background-color  : #fff;
	border-left-color : #fff;
	border-top-color  : #fff;
}

.youhui .quan::before {
	left      : 0;
	transform : translate(-52%, -50%) rotate(-45deg);
}

.youhui .quan::after {
	right     : 0;
	transform : translate(52%, -50%) rotate(135deg);
}

.youhui .quan .info {
	flex : 1;
}

.youhui .quan .info .title {
	display     : flex;
	align-items : center;
	font-size   : .22rem;
	color       : #666;
}

.youhui .quan .info span {
	font-size   : .24rem;
	color       : #24bdc9;
	margin-left : .1rem;
}

.youhui .quan .info .title img {
	width : .35rem;
}

.youhui .quan .info .price {
	font-size  : .36rem;
	color      : #333;
	margin-top : .18rem;
}

.youhui .quan .btn {
	padding          : .2rem .36rem;
	color            : #fff;
	font-size        : .24rem;
	border-radius    : .1rem;
	background-image : linear-gradient(-70deg, rgb(254, 97, 90) 0%, rgb(252, 152, 148) 99%);
}

.base-info .low-price {
	position         : absolute;
	right            : 0;
	top              : .2rem;
	color            : #fff;
	font-size        : .24rem;
	padding          : .14rem .3rem;
	background-color : #fe615a;
	border-radius    : .3rem 0 0 .3rem;
}

.huxing {
	position   : relative;
	margin-top : .6rem;
	padding    : 0 .3rem;
}

.huxing .get-fangyuan {
	position         : absolute;
	right            : 0;
	top              : 0;
	color            : #fff;
	font-size        : .24rem;
	padding          : .14rem .3rem;
	background-color : #fe615a;
	border-radius    : .3rem 0 0 .3rem;
}

.huxing > .title {
	font-size : .3rem;
	color     : #333333;
	padding   : .18rem 0;
}

.huxing > .tab-btns {
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	margin-top      : .28rem;
	border-bottom   : 1px solid #ecebeb;
}

.huxing > .tab-btns a {
	color     : #333;
	font-size : .28rem;
	padding   : .14rem 0;
}

.huxing > .tab-btns a.active {
	border-bottom : 2px solid #0ac3cf;
}

.huxing .tab-content {
	max-height     : 6.54rem;
	padding-bottom : .2rem;
	overflow-y     : auto;
}

.huxing .tab-content > div {
	display : none;
}

.huxing .tab-content .item {
	display       : flex;
	align-items   : center;
	padding       : .2rem 0 .2rem .12rem;
	margin        : .2rem .1rem 0 .1rem;
	box-shadow    : 0 0 2px 2px #eee;
	border-radius : .1rem;
}

.huxing .tab-content .item img {
	width : 3.3rem;
}

.huxing .tab-content .item .info {
	margin-left : .2rem;
	font-size   : .24rem;
}

.huxing .tab-content .item .info p {
	line-height : .38rem;
}

.huxing .tab-content .item .info p:first-child {
	font-size   : .28rem;
	font-weight : 600;
}

.huxing .tab-content .item .btns {
	display    : flex;
	margin-top : .44rem;
}

.huxing .tab-content .item .btns > div {
	padding       : .12rem .2rem;
	color         : #25c3cf;
	border        : 1px solid #25c3cf;
	margin-right  : .16rem;
	border-radius : .1rem;
}

.huxing .tab-content .item .btns > div:last-child {
	margin : 0;
}

.live-room {
	margin-top : .34rem;
	padding    : 0 .3rem .35rem .3rem;
}

.live-room .title {
	padding   : .34rem 0;
	font-size : .3rem;
}

.live-room video {
	width : 100%;
}

.live-room .look-room {
	display         : flex;
	justify-content : center;
}

.live-room .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-top       : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.high-lights {
	margin-top     : .35rem;
	padding-bottom : .16rem;
}

.high-lights .title {
	padding     : .34rem;
	font-size   : .3rem;
	color       : #333;
	font-weight : 600;
}

.high-lights .get-book {
	display         : flex;
	flex-direction: column;
	align-items: center;
}
.high-lights .get-book >p{
	font-size : .2rem;
	color: red;
	margin-top : .2rem;
}
.high-lights .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-top       : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.yuyue {
	margin-top : .2rem;
	padding    : 0 .3rem .2rem .3rem;
}

.yuyue .title {
	padding   : .28rem 0;
	font-size : .3rem;
	color     : #333;
}

.yuyue .date {
	position : relative;
}

.yuyue .date img {
	position  : absolute;
	right     : .16rem;
	top       : 50%;
	width     : .36rem;
	transform : translateY(-50%);
}

.yuyue input[type=text], .yuyue input[type=tel], .yuyue textarea {
	display       : block;
	width         : 100%;
	height        : .7rem;
	font-size     : .24rem;
	color         : #333;
	text-indent   : .28rem;
	background    : none;
	outline       : none;
	border        : 1px solid #e5e3e3;
	border-radius : .1rem;
	resize        : none;
	box-sizing    : border-box;
}

.yuyue .radio-body {
	font-size : .24rem;
	color     : #333;
}

.yuyue .radio-body > div {
	display     : flex;
	align-items : center;
	margin-top  : .36rem;
}

.yuyue .radio-body > div > span {
	width : 1.2rem;
}

.yuyue .radio-body > div .radios {
	flex        : 1 0 0;
	display     : flex;
	flex-wrap   : wrap;
	margin-left : .1rem;
}

.yuyue .radio-body > div input {
	margin-right : .1rem;
}

.yuyue .radio-body > div label {
	display      : flex;
	align-items  : center;
	margin-right : .6rem;
}

.yuyue .radio-body > div:nth-child(3) .radios {
	justify-content : space-between;
}

.yuyue .radio-body > div:nth-child(3) label {
	margin-right : 0;
}

.yuyue .radio-body > p {
	line-height : .8rem;
	font-size   : .22rem;
	color       : #25c3cf;
	text-align  : center;
}

.yuyue textarea {
	height      : 1.16rem;
	padding     : .28rem;
	text-indent : 0;
	margin-top  : .18rem;
}

.yuyue .yuyue-btn {
	display         : flex;
	justify-content : center;
}

.yuyue .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-top       : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.guwen {
	padding : 0 .3rem .3rem .3rem;
}

.guwen .title {
	font-size   : .3rem;
	color       : #333;
	padding     : .34rem 0;
	font-weight : 600;
}
.guwen .tags{
	display: flex;
	align-items: center;
	
	font-size : .24rem;
}
.guwen .tags >div{
	display: flex;
	align-items: center;
	margin-right : .2rem;
}
.guwen .tags img{
	width : .32rem;
	margin-right : .05rem;
}

.guwen .body {
	margin-top : .3rem;
}

.guwen .body .item:first-child {
	margin-top : 0;
}

.guwen .body .item {
	display     : flex;
	align-items : center;
	margin-top  : .26rem;
}

.guwen .body .item > img {
	width : 1.4rem;
}

.guwen .body .item .info {
	flex        : 1;
	font-size   : .28rem;
	color       : #333;
	margin-left : .28rem;
}

.guwen .body .item .tags {
	display    : flex;
	margin-top : .14rem;
}

.guwen .body .item .tags span {
	font-size     : .22rem;
	color         : #25c3cf;
	padding       : .12rem 0.08rem;
	border        : 1px solid #25c3cf;
	border-radius : 0.04rem;
	margin-right  : .1rem;
}

.guwen .body .item .stars {
	display     : flex;
	align-items : center;
	margin-top  : .16rem;
}

.guwen .body .item .stars img {
	width        : .28rem;
	margin-right : .1rem;
}

.guwen .body .item .icons {
	display     : flex;
	align-items : center;
}

.guwen .body .item .icons img:first-child {
	width        : .33rem;
	margin-right : .4rem;
}

.guwen .body .item .icons img:last-child {
	width        : .27rem;
	margin-right : .4rem;
}

.answers {
	padding-bottom : .3rem;
	overflow       : hidden;
}

.answers .body {
	padding : 0 .3rem;
}

.answers .title {
	font-size   : .3rem;
	color       : #333;
	font-weight : 600;
	padding     : .3rem 0;
}

.answers .qa-body {
}

.answers .qa:first-child {
	margin : 0;
}

.answers .qa {
	margin-top : .3rem;
}

.answers .qa .qt {
	position  : relative;
	font-size : .28rem;
	color     : #25c3cf;
}

.answers .qa .q {
	font-size   : .28rem;
	color       : #333;
	margin-top  : .2rem;
	line-height : .48rem;
}

.answers .qa .q img {
	width        : .23rem;
	justify-self : flex-end;
}

.answers .qa .q p:first-child {
	display     : flex;
	align-items : center;
}

.answers .qa .q p:first-child + p {
	color         : #25c3cf;
	border-bottom : 1px dashed #ccc;
}

.answers .qa .q p span:last-child {
	flex            : 1;
	display         : flex;
	justify-content : flex-end;
	align-items     : center;
}

.answers .up {
	display : none;
}

.answers .hasAnswer .up {
	display : block;
}

.answers .hasAnswer .down {
	display : none;
}

.answers form .t {
	font-size   : .35em;
	color       : #25c3cf;
	padding-top : .8rem;
}

.answers form textarea {
	width         : 100%;
	height        : 1.42rem;
	color         : #7c7c7c;
	font-size     : .28rem;
	margin-top    : .4rem;
	padding       : .2rem;
	resize        : none;
	border        : 1px solid #ccc;
	border-radius : .1rem;
	box-sizing    : border-box;
}

.answers form input[type=tel] {
	display       : block;
	width         : 100%;
	height        : .7rem;
	font-size     : .24rem;
	color         : #333;
	text-indent   : .28rem;
	background    : none;
	outline       : none;
	border        : 1px solid #e5e3e3;
	border-radius : .1rem;
	resize        : none;
	box-sizing    : border-box;
}

.answers .submit-btn {
	display         : flex;
	justify-content : center;
}

.answers .submit-btn .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-top       : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.zixun {
	margin-top : .3rem;
	padding    : 0 .3rem .3rem .3rem;
	color      : #333;
}

.zixun .title {
	font-size   : .3rem;
	font-weight : 600;
	padding     : .1rem 0;
}

.zixun .body {}

.zixun .body .item {
	padding       : .3rem 0;
	border-bottom : 1px solid #e3e1e1;
}

.zixun .body .item p {
	font-size   : .28rem;
	line-height : .5rem;
}

.zixun .body .item .foot {
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	margin-top      : .1rem;
}

.zixun .body .item .tag {
	font-size        : .24rem;
	color            : #fe6a64;
	padding          : .1rem .16rem;
	background-color : #fde9e8;
}

.zixun .body .item .date {
	font-size : .22rem;
	color     : #999;
}

.zixun .btns {
	display         : flex;
	justify-content : center;
	margin-top      : .4rem;
}

.zixun .btns .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-right     : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.luntan .body .item .tag {
	font-size  : .27rem;
	color      : #333;
	padding    : 0;
	background : none;
}

.luntan .body .item .tag img {
	width        : .3rem;
	margin-right : .1rem;
}

.luntan .body .item .head {
	display     : flex;
	align-items : center;
	color       : #25c3cf;
	font-size   : .28rem;
}

.luntan .body .item .head img {
	width         : .8rem;
	height        : .8rem;
	margin-right  : .24rem;
	border-radius : 50%;
}

.luntan .body .item p {
	margin-top : .1rem;
}

.luntan .qr {
	margin-top : .6rem;
}

.luntan .qr .code {
	width         : 2.86rem;
	margin        : auto;
	padding       : .1rem;
	border        : 1px solid #ccc;
	border-radius : .1rem;
	
}

.luntan .qr img {
	display : block;
	width   : 2.86rem;
}

.luntan .qr .btns {
	margin-top : .2rem;
}

.book {
	padding : 0 .3rem .3rem .3rem;
}

.book .title {
	font-size   : .3rem;
	font-weight : 600;
	padding     : .38rem 0;
}

.book .btns {
	display         : flex;
	justify-content : center;
	margin-top      : .4rem;
}

.book .btns .btn {
	font-size        : .28rem;
	color            : #25c3cf;
	padding          : .2rem .3rem;
	margin-right     : .3rem;
	background-color : #e0fafc;
	border           : 1px solid #25c3cf;
	border-radius    : .1rem;
}

.footer {
	position      : relative;
	margin        : .3rem .3rem 0 .3rem;
	display       : flex;
	border-radius : .1rem;
	overflow      : hidden;
}

.footer > img {
	width  : 1.5rem;
	height : 1.7rem;
}

.footer .info {
	display          : flex;
	justify-content  : center;
	flex-direction   : column;
	flex             : 1;
	line-height      : .38rem;
	font-size        : .22rem;
	padding-left     : .3rem;
	color            : #333;
	background-color : #f8f8f9;
}

.footer .info img {
	width        : .24rem;
	margin-right : .2rem;
}

.footer .icons {
	display        : flex;
	flex-direction : column;
	position       : fixed;
	right          : .55rem;
	bottom         : 2.2rem;
	font-size : 0;
	z-index: 2;
}

.footer .icons img:first-child {
	width : .6rem;
}

.footer .icons img:last-child {
	width      : .27rem;
	margin-top : .24rem;
}

.nav {
	position         : fixed;
	left             : 0;
	bottom           : 0;
	width            : 100%;
	height           : 1.4rem;
	padding          : 0 .3rem;
	display          : flex;
	align-items      : center;
	background-color : #fff;
	box-sizing       : border-box;
	box-shadow       : 0 0 4px #ccc;
	z-index: 2;
}

.nav .share {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	font-size      : .24rem;
	color          : #333;
}

.nav .share img {
	width         : .45rem;
	margin-bottom : .1rem;
}

.nav .btns {
	display         : flex;
	flex            : 1;
	justify-content : flex-end;
}

.nav .btns a {
	font-size        : .28rem;
	color            : #fff;
	padding          : .24rem .3rem;
	margin-right     : .16rem;
	text-decoration  : none;
	background-color : #25c3cf;
}